<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  <title>{{pageName}} - Find your footware</title>
</head>

<body>
  <!-- Header Section -->
  <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{{pagelogo}}" alt="pixels" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'home' %}">Home</a></li>
          <li class="header__menuItem"><a href="{% url 'home' %}">Products</a></li>
          <li class="header__menuItem"><a href="{% url 'home' %}">About</a></li>
          <li class="header__menuItem"><a href="contact.html">Contact</a></li>
          <li>
            <a href="{% url 'cart' %}">

                <button style="background: transparent;border: none;">
                  <img src="{% static 'images/cart.svg' %}" style="width:30px;" alt="cart">

                      <strong style="margin-left: auto;
                    font-size: 12px;
                    background: hsl(5, 100%, 69%);
                    color: white;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    border-radius: 50%;">{{total_cart}}</strong>
                </button>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>
  <body>
 <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
                <font align="center"><h2>Edit Account</h2></font>
                <br>
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Input:Text -->
                    {% for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}


                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
  </body>