{% extends 'main1.html' %}
{% load static %}
{% block content %}

<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{{pagelogo}}" alt="logo" />
      </a>
      <p>Create a new {{pageName}} account</p>
    </div>

      <!--    form start  -->
    <form action="#" method="post" class="form auth__form">
      {% csrf_token %}
        {% for field in form %}
      <!-- Input:Text -->
      <div class="form__field">

        <label for="formInput#text">{{field.label}}: </label>
        {{field}}

        <!--  form error message      -->
        {% for error in field.errors %}
          <p style="color:red;" > {{error}}</p>
        {% endfor %}
        <!--  end form error message   -->

      </div>
       {% endfor %}


      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
      </div>
    </form>
      <!--      form end  -->

    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <a href="{% url 'login' %}">Log In</a>
    </div>
  </div>
</div>

{% endblock content %}
