{% extends 'main1.html' %}

{% block content %}


 <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{{request.META.HTTP_REFERER}}"><i class="im im-angle-left"></i></a>
                <br>
                <form class="form" method="POST">
                    {% csrf_token %}
                   <p>Are you sure you want to delete "{{obj.product_name}}" you have carted?</p>
                   <a class="btn btn--sub btn--lg  my-md" href="{{request.META.HTTP_REFERER}}" >Go Back </a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
